@import url('https://fonts.googleapis.com/css2?family=Anton&family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');
*{
    font-family:"Titillium Web";
    margin:0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.inicio{
    background-image: url("/docs/img/fondo.jpg");
    background-size: cover;
}